
@{
    ViewBag.Title = "Purchasing";
}

<h2 class="d-flex justify-content-end">Purchasing</h2>

<!-- Product Vendor -->
<div class="row">
    <!-- Form -->
    <div class="col">
        <h3 class="row d-flex justify-content-center">Product Vendor</h3>
        <form>
            <input type="hidden" id="productVendorID" />
            <div class="form-group row">
                <div id="productVendorAlert" class="alert alert-danger alert-dismissible collapse" role="alert" style="width:100%;">Error: There are required empty fields.<a href="#" class="close" data-dismiss="alert">&times;</a></div>
                <div id="productVendorPostSuccess" class="alert alert-primary alert-dismissible collapse" role="alert" style="width:100%;">Data saved successfully.<a href="#" class="close" data-dismiss="alert">&times;</a></div>
            </div>
            <div class="form-group row">
                <div class="col" style="padding-left:0;">
                    <input id="productVendorBusinessEntityID" type="text" placeholder="Business Entity ID *" class="form-control form-control-sm" />
                </div>
                <div class="col" style="padding-right:0;">
                    <input id="productVendorAverageLeadTime" type="text" placeholder="Average Lead Time *" class="form-control form-control-sm" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col" style="padding-left:0;">
                    <input id="productVendorStandardPrice" type="text" placeholder="Standard Price *" class="form-control form-control-sm" />
                </div>
                <div class="col" style="padding-right:0;">
                    <input id="productVendorLastReceiptCost" type="text" placeholder="Last Receipt Cost" class="form-control form-control-sm" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col" style="padding-left:0;">
                    <input id="productVendorLastReceiptDate" type="text" placeholder="Last Receipt Date" class="form-control form-control-sm" />
                </div>
                <div class="col" style="padding-right:0;">
                    <input id="productVendorMinOrderQty" type="text" placeholder="Min Order Qty *" class="form-control form-control-sm" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col" style="padding-left:0;">
                    <input id="productVendorMaxOrderQty" type="text" placeholder="Max Order Qty *" class="form-control form-control-sm" />
                </div>
                <div class="col" style="padding-right:0;">
                    <input id="productVendorOnOrderQty" type="text" placeholder="On Order Qty" class="form-control form-control-sm" />
                </div>
            </div>
            <div class="form-group row">
                <input id="productVendorUnitMeasureCode" type="text" placeholder="Unit Measure Code *" class="form-control form-control-sm" />
            </div>
            <div class="form-group row d-flex justify-content-center">
                <button id="productVendorSave" type="button" class="btn btn-warning btn-sm col-md-3" style="margin:0 15px;">Save</button>
                <button id="productVendorReset" type="button" class="btn btn-info btn-sm col-md-1" style="margin:0 15px;"><i class="fas fa-sync-alt"></i></button>
            </div>
            <label style="font-size:11px;">* Required values.</label>
        </form>
    </div>
    <!-- Table -->
    <div class="col col-md-8">
        <div class="pagination pagination-sm">
            <div class="table-responsive">
                <table id="productVendorTable" class="table table-sm table-bordered table-hover">
                    <thead class="thead-light">
                        <tr>
                            <th>ID&nbsp;&nbsp;</th>
                            <th class="md-col">Business Entity ID</th>
                            <th class="md-col">Average Lead Time</th>
                            <th class="xm-col">Standard Price</th>
                            <th class="md-col">Last Receipt Cost</th>
                            <th class="md-col">Last Receipt Date</th>
                            <th class="xm-col">Min Order Qty</th>
                            <th class="xm-col">Max Order Qty</th>
                            <th class="xm-col">On Order Qty</th>
                            <th class="md-col">Unit Measure Code</th>
                            <th class="xm-col">Modified Date</th>
                            <th class="xm-col">Edit</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>
<div style="height:100px;"></div>

<!-- Ship Method -->
<div class="row">
    <!-- Form -->
    <div class="col">
        <h3 class="row d-flex justify-content-center">Ship Method</h3>
        <form>
            <input type="hidden" id="shipMethodID" />
            <div class="form-group row">
                <div id="shipMethodAlert" class="alert alert-danger alert-dismissible collapse" role="alert" style="width:100%;">Error: There are required empty fields.<a href="#" class="close" data-dismiss="alert">&times;</a></div>
                <div id="shipMethodPostSuccess" class="alert alert-primary alert-dismissible collapse" role="alert" style="width:100%;">Data saved successfully.<a href="#" class="close" data-dismiss="alert">&times;</a></div>
            </div>
            <div class="form-group row">
                <input id="shipMethodName" type="text" placeholder="Name *" class="form-control form-control-sm" />
            </div>
            <div class="form-group row">
                <input id="shipMethodShipBase" type="text" placeholder="Ship Base *" class="form-control form-control-sm" />
            </div>
            <div class="form-group row">
                <input id="shipMethodShipRate" type="text" placeholder="Ship Rate *" class="form-control form-control-sm" />
            </div>
            <div class="form-group row">
                <input id="shipMethodRowguid" type="text" placeholder="row guid *" class="form-control form-control-sm" />
            </div>
            <div class="form-group row d-flex justify-content-center">
                <button id="shipMethodSave" type="button" class="btn btn-warning btn-sm col-md-3" style="margin:0 15px;">Save</button>
                <button id="shipMethodReset" type="button" class="btn btn-info btn-sm col-md-1" style="margin:0 15px;"><i class="fas fa-sync-alt"></i></button>
            </div>
            <label style="font-size:11px;">* Required values.</label>
        </form>
    </div>
    <!-- Table -->
    <div class="col col-md-8">
        <div class="pagination pagination-sm">
            <div class="table-responsive">
                <table id="shipMethodTable" class="table table-sm table-bordered table-hover">
                    <thead class="thead-light">
                        <tr>
                            <th>ID&nbsp;&nbsp;</th>
                            <th class="md-col">Name</th>
                            <th class="xm-col">Ship Base</th>
                            <th class="xm-col">Ship Rate</th>
                            <th class="md-col">rowguid</th>
                            <th class="xm-col">Modified Date</th>
                            <th class="xm-col">Edit</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>
<div style="height:100px;"></div>

<!-- Error Modal -->
<div class="modal fade" id="errorModal" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Internal Error</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p id="errorModalMsg">Error</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Confirm Modals -->
<div class="modal fade" id="productVendorModal" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Confirm</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input type="hidden" id="productVendorDeleteID" />
                <p>Are you sure you want to delete this record?</p>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-danger" onclick="productVendorDelete()">Yes</button>
                <button type="button" data-dismiss="modal" class="btn btn-primary">No</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="shipMethodModal" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Confirm</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input type="hidden" id="shipMethodDeleteID" />
                <p>Are you sure you want to delete this record?</p>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-danger" onclick="shipMethodDelete()">Yes</button>
                <button type="button" data-dismiss="modal" class="btn btn-primary">No</button>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/ViewScripts/Purchasing.js"></script>

