@{
    ViewBag.Title = "HumanResources";
}

<h2 class="d-flex justify-content-end">Human Resources</h2>

<!-- Department -->
<div class="row">
    <!-- Form -->
    <div class="col">
        <h3 class="row d-flex justify-content-center">Department</h3>
        <form>
            <input type="hidden" id="departmentID" />
            <div class="form-group row">
                <div id="departmentAlert" class="alert alert-danger alert-dismissible collapse" role="alert" style="width:100%;">Error: There are required empty fields.<a href="#" class="close" data-dismiss="alert">&times;</a></div>
                <div id="departmentPostSuccess" class="alert alert-primary alert-dismissible collapse" role="alert" style="width:100%;">Data saved successfully.<a href="#" class="close" data-dismiss="alert">&times;</a></div>
            </div>
            <div class="form-group row">
                <input id="departmentName" type="text" placeholder="Name *" class="form-control form-control-sm" />
            </div>
            <div class="form-group row">
                <input id="departmentGroupName" type="text" placeholder="Group Name *" class="form-control form-control-sm" />
            </div>
            <div class="form-group row d-flex justify-content-center">
                <button id="departmentSave" type="button" class="btn btn-warning btn-sm col-md-3" style="margin:0 15px;">Save</button>
                <button id="departmentReset" type="button" class="btn btn-info btn-sm col-md-1" style="margin:0 15px;"><i class="fas fa-sync-alt"></i></button>
            </div>
            <label style="font-size:11px;">* Required values.</label>
        </form>
    </div>
    <!-- Table -->
    <div class="col col-md-8">
        <div class="pagination pagination-sm">
            <div class="table-responsive">
                <table id="departmentTable" class="table table-sm table-bordered table-hover">
                    <thead class="thead-light">
                        <tr>
                            <th>ID&nbsp;&nbsp;</th>
                            <th>Name</th>
                            <th>GroupName</th>
                            <th>ModifiedDate</th>
                            <th>Edit</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>
<div style="height:100px;"></div>

<!-- Employee -->
<div class="row">
    <!-- Form -->
    <div class="col">
        <h3 class="row d-flex justify-content-center">Employee</h3>
        <form>
            <input type="hidden" id="employeeID" />
            <div class="form-group row">
                <div id="employeeAlert" class="alert alert-danger alert-dismissible collapse" role="alert" style="width:100%;">Error: There are required empty fields.<a href="#" class="close" data-dismiss="alert">&times;</a></div>
                <div id="employeePostSuccess" class="alert alert-primary alert-dismissible collapse" role="alert" style="width:100%;">Data saved successfully.<a href="#" class="close" data-dismiss="alert">&times;</a></div>
            </div>
            <div class="form-group row">
                <input id="employeeNationalIDNumber" type="text" placeholder="National ID Number *" class="form-control form-control-sm" />
            </div>
            <div class="form-group row">
                <input id="employeeLoginID" type="text" placeholder="Login ID *" class="form-control form-control-sm" />
            </div>
            <div class="form-group row">
                <input id="employeeJobTitle" type="text" placeholder="Job Title *" class="form-control form-control-sm" />
            </div>
            <div class="form-group row">
                <div class="col" style="padding-left:0;">
                    <input id="employeeBirthDate" type="text" placeholder="Birth Date *" class="form-control form-control-sm" />
                </div>
                <div class="col" style="padding:0;">
                    <input id="employeeMaritalStatus" type="text" placeholder="Marital Status *" class="form-control form-control-sm" />
                </div>
                <div class="col" style="padding-right:0;">
                    <input id="employeeGender" type="text" placeholder="Gender *" class="form-control form-control-sm" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col" style="padding-left:0;">
                    <input id="employeeHireDate" type="text" placeholder="Hire Date *" class="form-control form-control-sm" />
                </div>
                <div class="col" style="padding:0;">
                    <input id="employeeSalariedFlag" type="text" placeholder="Salaried Flag *" class="form-control form-control-sm" />
                </div>
                <div class="col" style="padding-right:0;">
                    <input id="employeeVacationHours" type="text" placeholder="Vac. Hours *" class="form-control form-control-sm" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col" style="padding-left:0;">
                    <input id="employeeSickLeaveHours" type="text" placeholder="Sick Leave Hrs. *" class="form-control form-control-sm" />
                </div>
                <div class="col" style="padding-right:0;">
                    <input id="employeeCurrentFlag" type="text" placeholder="Current Flag *" class="form-control form-control-sm" />
                </div>
            </div>
            <div class="form-group row">
                <input id="employeeRowguid" type="text" placeholder="row gu id *" class="form-control form-control-sm" />
            </div>
            <div class="form-group row d-flex justify-content-center">
                <button id="employeeSave" type="button" class="btn btn-warning btn-sm col-md-3" style="margin:0 15px;">Save</button>
                <button id="employeeReset" type="button" class="btn btn-info btn-sm col-md-1" style="margin:0 15px;"><i class="fas fa-sync-alt"></i></button>
            </div>
            <label style="font-size:11px;">* Required values.</label><br/>
            <label style="font-size:11px;">Employees cannot be deleted, turn Current Flag to false.</label>
        </form>
    </div>
    <!-- Table -->
    <div class="col col-md-8">
        <div class="pagination pagination-sm">
            <div class="table-responsive">
                <table id="employeeTable" class="table table-sm table-bordered table-hover">
                    <thead class="thead-light">
                        <tr>
                            <th>ID</th>
                            <th class="md-col">National ID Number</th>
                            <th class="md-col">Login ID</th>
                            @*<th>Organization Node</th>*@
                            @*<th class="md-col">Organization Level</th>*@
                            <th class="md-col">Job Title</th>
                            <th class="xm-col">Birth Date</th>
                            <th class="xm-col">Marital Status</th>
                            <th>Gender</th>
                            <th class="xm-col">Hire Date</th>
                            <th class="xm-col">Salaried Flag</th>
                            <th class="md-col">Vacation Hours</th>
                            <th class="md-col">Sick Leave Hours</th>
                            <th class="xm-col">Current Flag</th>
                            <th class="md-col">row gu id</th>
                            <th class="xm-col">Modified Date</th>
                            <th class="xm-col">Edit</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>
<div style="height:100px;"></div>

<!-- Employee Pay History -->
<div class="row">
    <!-- Form -->
    <div class="col">
        <h3 class="row d-flex justify-content-center" style="font-size:26px;">Employee Pay History</h3>
        <form>
            <input type="hidden" id="employeePayHisID" />
            <div class="form-group row">
                <div id="employeePayHisAlert" class="alert alert-danger alert-dismissible collapse" role="alert" style="width:100%;">Error: There are required empty fields.<a href="#" class="close" data-dismiss="alert">&times;</a></div>
                <div id="employeePayHisPostSuccess" class="alert alert-primary alert-dismissible collapse" role="alert" style="width:100%;">Data saved successfully.<a href="#" class="close" data-dismiss="alert">&times;</a></div>
            </div>
            <div class="form-group row">
                <input id="employeePayHisRateChangeDate" type="text" placeholder="Rate Change Date *" class="form-control form-control-sm" />
            </div>
            <div class="form-group row">
                <input id="employeePayHisRate" type="text" placeholder="Rate *" class="form-control form-control-sm" />
            </div>
            <div class="form-group row">
                <input id="employeePayHisPayFrequency" type="text" placeholder="Pay Frequency *" class="form-control form-control-sm" />
            </div>
            <div class="form-group row d-flex justify-content-center">
                <button id="employeePayHisSave" type="button" class="btn btn-warning btn-sm col-md-3" style="margin:0 15px;">Save</button>
                <button id="employeePayHisReset" type="button" class="btn btn-info btn-sm col-md-1" style="margin:0 15px;"><i class="fas fa-sync-alt"></i></button>
            </div>
            <label style="font-size:11px;">* Required values.</label>
        </form>
    </div>
    <!-- Table -->
    <div class="col col-md-8">
        <div class="pagination pagination-sm">
            <div class="table-responsive">
                <table id="employeePayHisTable" class="table table-sm table-bordered table-hover">
                    <thead class="thead-light">
                        <tr>
                            <th>ID&nbsp;&nbsp;</th>
                            <th>Rate Change Date</th>
                            <th>Rate</th>
                            <th>Pay Frequency</th>
                            <th>Modified Date</th>
                            <th>Edit</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>
<div style="height:100px;"></div>

<!-- Shift -->
<div class="row">
    <div class="col">
        <h3 class="row d-flex justify-content-center">Shift</h3>
        <form>
            <input type="hidden" id="shiftID" />
            <div class="form-group row">
                <div id="shiftAlert" class="alert alert-danger alert-dismissible collapse" role="alert" style="width:100%;">Error: There are required empty fields.<a href="#" class="close" data-dismiss="alert">&times;</a></div>
                <div id="shiftPostSuccess" class="alert alert-primary alert-dismissible collapse" role="alert" style="width:100%;">Data saved successfully.<a href="#" class="close" data-dismiss="alert">&times;</a></div>
            </div>
            <div class="form-group row">
                <input id="shiftName" type="text" placeholder="Name *" class="form-control form-control-sm" />
            </div>
            <div class="form-group row">
                <input id="shiftStartTime" type="text" placeholder="Start Time *" class="form-control form-control-sm" />
            </div>
            <div class="form-group row">
                <input id="shiftEndTime" type="text" placeholder="End Time *" class="form-control form-control-sm" />
            </div>
            <div class="form-group row d-flex justify-content-center">
                <button id="shiftSave" type="button" class="btn btn-warning btn-sm col-md-3" style="margin:0 15px;">Save</button>
                <button id="shiftReset" type="button" class="btn btn-info btn-sm col-md-1" style="margin:0 15px;"><i class="fas fa-sync-alt"></i></button>
            </div>
            <label style="font-size:11px;">* Required values.</label>
        </form>
    </div>
    <div class="col col-md-8">
        <div class="pagination pagination-sm">
            <div class="table-responsive">
                <table id="shiftTable" class="table table-sm table-bordered table-hover">
                    <thead class="thead-light">
                        <tr>
                            <th>ID&nbsp;&nbsp;</th>
                            <th>Name</th>
                            <th>Start Time</th>
                            <th>End Time</th>
                            <th>Modified Date</th>
                            <th>Edit</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- Error Modal -->
<div class="modal fade" id="errorModal" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Internal Error</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p id="errorModalMsg">Error</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Confirm Modals -->
<div class="modal fade" id="departmentModal" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Confirm</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input type="hidden" id="departmentDeleteID" />
                <p>Are you sure you want to delete this record?</p>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-danger" onclick="departmentDelete()">Yes</button>
                <button type="button" data-dismiss="modal" class="btn btn-primary" >No</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="employeeModal" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Confirm</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input type="hidden" id="employeeDeleteID" />
                <p>Are you sure you want to delete this record?</p>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-danger" onclick="employeeDelete()">Yes</button>
                <button type="button" data-dismiss="modal" class="btn btn-primary">No</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="employeePayHisModal" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Confirm</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input type="hidden" id="employeePayHisDeleteID" />
                <p>Are you sure you want to delete this record?</p>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-danger" onclick="employeePayHisDelete()">Yes</button>
                <button type="button" data-dismiss="modal" class="btn btn-primary">No</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="shiftModal" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Confirm</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input type="hidden" id="shiftDeleteID" />
                <p>Are you sure you want to delete this record?</p>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-danger" onclick="shiftDelete()">Yes</button>
                <button type="button" data-dismiss="modal" class="btn btn-primary">No</button>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/ViewScripts/HumanResources.js"></script>





